# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\data 2\Upgrad\Fundamentals_of_software_engineering\Restaurant_Project\Restaurant_project_Student_version\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
